.urdu__container{
    /* display: flex; */

}

.name_flag{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.name_flag h1{
    font-size: 50px;
}

.flag{
    background: transparent;
    width: 250px;
}